<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="name">
    <input type="text" v-model="list.name">
    <p>{{name}}</p>
    <p>{{list.name}}</p>
    <p v-html="list.text"></p>
    <button v-on:click="change">change</button>
  </div>
  <script src="./observer.js"></script>
  <script src="./watch.js"></script>
  <script src="./compile.js"></script>
  <script src="index.js"></script>
  <script>
    var vm = new Vue({
        el: '#app',
        data: {
          name: 'hello',
          list: {
            name: 'world',
            text: '<span style="color: red;">red</span>'
          }
        },
        methods: {
          change() {
            this.list.name = 'llllll'
          }
        },
        computed: {
          getHW() {
            return this.name + this.list.name
          }
        },
        mounted() {

        }
      })
  </script>
</body>
</html>